<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link href="../css/popup.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../javascript/jquery/jquery-3.5.1.min.js"></script>
    <script src="../javascript/axios/axios-0.21.1.min.js"></script>
  </head>
  <body>
    <div id="title-bar">
      <h2>Sample.<sub>it</sub></h2>
      <!-- <a href="#" class="fa fa-facebook"></a> -->
      <a href="https://github.com/ableinc" target="_blank" class="fa fa-github"></a>
      <!-- <a href="#" class="fa fa-linkedin"></a> -->
    </div>
    <div id="container">
      <div id="loader" style="display: none;"></div>
    </div>
    <div id="contact-us">
      <p id="entryWarning">All fields required.</p>
      <p id="videoId" hidden></p>
      <form>
        <input id="sampleUrl" type="text" placeholder="Youtube URL"/>
        <input id="sampleGenre" type="text" placeholder="Genre" />
        <button id="analyzeButton" type="button">ANALYZE</button>
        <button id="downloadSample" type="button" style="display: none;">DOWNLOAD</button>
      </form>
    </div>
    <footer>
      <p style="font-size: small;">&reg; Able.<sub>digital</sub></p>
    </footer>
    <script src="../javascript/requireJS/require.min.js"></script>
    <script src="../javascript/popup.js"></script>
  </body>
</html>
